%div{id: 'hanzi-debug-row', class: 'col-xs-12'}

%table{id: 'hanzi-debug-table', class: 'table table-condensed'}
  %thead
    %tr
      %th Caller
      %th 字
      %th Used
      %th Comp

= javascript_include_tag 'hanzi_common'