%table{id: 'ngram-list-table', class: 'table table-condensed table-hover'}
  %thead
    %tr
      %th{colspan: 2, id: 'ngram-list-table-header'}
  %tbody{id: 'ngram-list-table-body'}

= javascript_include_tag 'ngram_commons'
= javascript_include_tag 'ngram_list'