%h3 
  %span{id: 'ngram-details-hanzi'}
  %span{class: 'pull-right'}
    %span{class: 'glyphicon glyphicon-plus', style: 'display:none', id: 'ngram-add'}
  %br
  %small{id: 'ngram-details-pinyin'}
%ol{id: 'ngram-details-english'}

= javascript_include_tag 'ngram_details'