%div{class: 'input-group'}
  %input{type: 'text', class: 'form-control', id: 'search-box', placeholder: 'Search/搜索'}
  %span{class: 'input-group-btn'}
    %btn{class: 'btn btn-success', id: 'search-box-button'}
      %span{class: 'glyphicon glyphicon-search'}

= javascript_include_tag 'search_box'