%div{class: 'col-xs-3', id: 'search-div'}
  %div{class: 'col-xs-12', id: 'search-box-div'}
    = render partial: 'search_box_div'
  %div{class: 'col-xs-12', id: 'search-history'}
    = render partial: 'search_history'
%div{class: 'col-xs-6', id: 'ngram-div'}
  %div{class: 'col-xs-6', id: 'ngram-list'}
%div{class: 'col-xs-3', id: 'hanzi-div'}
